html,
body {
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	color: $default;
	overflow-x: hidden;
	// overflow-y: hidden; //!
	min-width: 300px;
}

.darkmode{
	color: $white;
	background-color: rgba($title, .9);
	a{
		color: $white;
	}
	.menu__list-link{
        color: rgba($green2, .9);
        &:hover{
            color: rgba($yellow, .8);
        }
    }
	.dark-mode-toggle {
		background-color: $yellow;
		&:hover{
			color: $default;
		}
	}
	.dark-mode-toggle::before {
		content: '\f185';  
		color: $title;
	}
	.slick-dots{
		button{
			background-color: $white;
		}
		li.slick-active{
			button{
				background-color: $yellow;
			}
		}
	}
	.top{
		&__inner{
			&::after{
				content: '';
				background-image: url(../images/slider-bg-dm.jpg);
			}
		}
		&__slider-text{
			color: $title;
		}
	}
	.welcome{
		&__title{
			color: $white;
		}
		&__subtitle{ 
			color: rgba($green2, .7);
		}
		&__link{
			color: $white;
			background: $green;
			&:hover{
				background-color: $yellow;
				color: $default;
			}
		}
	}
	.products{
		&__links{
			color: rgba($green2, .7);
		}
		&__item-titlelink{
			color: $green2;
			&:hover{
				color: $yellow;
			}
		}
	}	
	.gallery{
		&__btn{
			border: 1px solid $yellow;
			color: $yellow;
		}
		.mixitup-control-active{
			background-color: rgba($green2, .8);
			border: 1px solid $green2;
			color: $title;
		}
		&__link{
			color: $white;
			background: $green;
			&:hover{
				background-color: $yellow;
				color: $title;
			}
		}
	}
	.footer{
		&__content{
			background: rgba($footer, .7);
			padding: 60px 0 80px;
		}
		&__info-title{
			color: $white;
		}
		&__form-input{
			&::placeholder{
				color: rgba($white, 1);
			}
		}
		&__form-button{
			background-color: $title;
			border: none;
			color: $white;
		}
		&__social-link,
		&__menu-link{
			color: $white;
		}
		&__copyright{   
			background-color: $default;
			color: rgba($title, .7);
		}
	}
	.breadcrumbs{
		&__link--active{
			color: rgba($green2, .8);
		}
	}
	.about{
		&__title{
			color: $white;
			&::after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 200px;
				height: 1px;
				background-color: $yellow;
			}
		}
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid{ //для гигантских мониторов ? 
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 10px;
}

.info-email{
    font-weight: 600;
    font-size: 14px;
    color: $title;
    margin-bottom: 22px;
    padding-left: 30px;
    display: inline-block;
    position: relative;
    &::before{
        content: '';
        background-image: url(../images/email.svg);
        position: absolute;
        top: 7px;
        left: 0;
        width: 16px;
        height: 12px;
    }
}

.slick-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	li{
		margin: 0 15px;
	}
	button{
		background-color: $title;
		border: none;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		padding: 0;
		font-size: 0;
	}
	li.slick-active{
		button{
			background-color: $yellow;
		}
	}
}





