$title: #363838;
$title2: #363838;
$default: #5A5A5A;
$border: #454647;
$border-milk: #DFDFDF;
$footer: rgb(35, 125, 43);
$green: rgb(35, 121, 43);
$green2: rgb(41, 212, 59);
$yellow: #FFEF35;
$white: #fff;



%title-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


@function max($numbers...) {   //миксин для ошибки fancybox (max)
	@return m#{a}x(#{$numbers});
  }
  
  @function min($numbers...) {
	@return m#{i}n(#{$numbers});
  }